@import 'bootstrap/dist/css/bootstrap.min.css';

.vh-85 {
  height: 85vh;
}

.top-30 {
  top: 30px;
}

.vh-50 {
  height: 50vh;
}

.footer {
  padding: 30px;
  background-color: rgb(248, 249, 250);
}

.pointer {
  cursor: pointer;
}

.spinner-custom {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
